@using Dashboard.ViewModels
@model DashboardViewModel

<div class="row mt-4">
    <div class="col-12">

        <div class="card">
            <div class="card-header text-center font-weight-bold">GUM vs AWT Line Evaluation</div>
            <div class="card-body">
                <table class="table table-bordered table-striped text-center mt-4">
                    <tbody>
                        <tr>
                            <th>Plant</th>
                            <th>Project</th>
                            <th>Family</th>
                            <th>Control Number</th>
                            <th>Working time</th>
                            <th>Num. of Op.</th>
                            <th>CS (min)</th>
                            <th>TT (min)</th>
                            <th>Actual output</th>
                            <th>GUM (min)</th>
                            <th>AWT (min)</th>
                        </tr>
                        <tr>
                            <td>@Model.LineParams?.DashboardHeader.Plant</td>
                            <td>@Model.LineParams?.DashboardHeader.Project</td>
                            <td>@Model.LineParams?.DashboardHeader.Family</td>
                            <td>@Model.LineParams?.DashboardHeader.ControlNumber</td>
                            <td>@Model.LineParams?.DashboardInfo.WorkingTime</td>
                            <td>
                                Direct: @Model.Stations.Sum(s => s.DirectOperator) <br />
                                Indirect: @Model.Stations.Sum(s => s.IndirectOperator)
                            </td>
                            <td>@Model.LineParams?.DashboardInfo.ConveyorSpeed.ToString("F2")</td>
                            <td>@Model.LineParams?.DashboardInfo.TactTime.ToString("F2")</td>
                            <td>@Model.LineParams?.DashboardInfo.ActualOutput</td>

                            <td>@Model.TotalGum.ToString("F2")</td>
                            <td>@Model.TotalAwt.ToString("F2")</td>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
