@model List<ActivityLog>

@{
    ViewData["Title"] = "Activity log";
    <link rel="stylesheet" href="~/css/gestion.css" />


    
}

<div class="card p-4 shadow-sm">
    <div class="mb-4">
        <h2 class="mb-0">Activities </h2>

        <div class="d-flex justify-content-end mb-3">
            <form method="get" class="d-flex align-items-end gap-2 flex-nowrap">
                <div>
                    <label class="form-label mb-1"></label>
                    <input type="text" name="userName" class="form-control form-control-sm" placeholder="UserName" value="@Context.Request.Query["userName"]" style="max-width: 140px;" />

                </div>

                <div>
                    <label class="form-label mb-1"></label>
                    <input type="date" name="startDate" class="form-control form-control-sm" value="@Context.Request.Query["startDate"]" style="max-width: 140px;" />

                </div>

                <div>
                    <label class="form-label mb-1"></label>
                    <input type="date" name="endDate" class="form-control form-control-sm" value="@Context.Request.Query["endDate"]" style="max-width: 140px;" />
                </div>

                <div class="d-flex align-items-end">
            <button type="submit" class="btn btn-outline-dark btn-sm">
                <i class="fas fa-search"></i> Filter
            </button>
            </div>
        </form>
        </div>
    </div>

    <div class="table-responsive table-wrapper">
        @if (Model != null && Model.Any())
        {
            <table class="table table-hover align-middle">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>Users</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model)
                    {
                        <tr>
                            <td>@log.Timestamp.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@log.UserName</td>
                            <td>
                                <span class="badge bg-light text-dark px-2 py-1">
                                    @log.Action
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger text-center">
                No activity log available.
            </div>
        }
    </div>
</div>
@await Html.PartialAsync("_ValidationScriptsPartial")
