@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@model Dashboard.ViewModels.DashboardHeaderViewModel

<div class="container-fluid shadow-sm py-2 border-bottom fixed-top" style="z-index: 999;">
    <div class="row align-items-center">

        <!-- Colonne gauche : Logo + Infos -->
        <div class="col-md-4 d-flex align-items-center ps-4">
            <img src="~/images/yazaki.png" alt="Logo" style="height: 25px"; class="me-3" />
            <div class="d-flex flex-column mt-2">
                <div><strong>Plant:</strong> @Model.Plant</div>
                <div><strong>Project:</strong> @Model.Project</div>
                <div><strong>Family:</strong> @Model.Family</div>
            </div>
        </div>

        <!-- Colonne centre : Titre -->
        <div class="col-md-4 text-center">
            <h3 class="fw-bold m-0">GUM vs AWT Dashboard</h3>
        </div>

       
        <div class="col-md-4 pe-4 d-flex justify-content-end align-items-center gap-4">
            <!-- Infos Control Number -->
            <div >
                <div><strong>Control N°:</strong> @Model.ControlNumber</div>
               
            </div>
        

        <!-- Section basse : Profil -->
            <div class="align-self-end mt-auto">
                <a class="btn btn-outline-secondary" href="@Url.Action("Profile", "Auth")" title="profil">
                    <i class="fas fa-user"></i>
                </a>

            </div>
    </div>
</div>
</div>
        
    









  
